

@charset "utf-8";

header{
	/*top: 10%;*/
	position: absolute;
	z-index: 999;
	width: 100%;
}
header{
	color: #fff;
}
.navbar-nav {
    float: left;
    margin: 20px 0px;
}
#nav-principal{
	position: relative;
	top: 10px;
}
#menu-Principal{
	padding: 0px;
	margin: 0px;
}
.menu-Principal{
	width: 100%;
	/*position: fixed;
	top: 0;
	z-index: 999;*/
	background-color: #fff;
	padding: 10px 5px;
	margin: 10px 0px;
}
.menu-Fixo {
	/*width: 100%;*/
	display: none;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: rgba(105, 149, 116, 0.4);
	padding: 0px;
	margin: 0px;
}
.navbar-default {
	border-radius: 0px;
	/*border: 1px solid #041135;*/
	color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #002f3f;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #00a2d9;
}
style.css:50

.navbar-header {
	/*top: -54px;*/
	height: 110px;
}
h1.logo-principal a:link{
	width: 221px;
	height: 96px;
	text-indent: -3333px;
	background-image: url(../images/logo-principal.png);
	background-repeat: no-repeat;
}

.carousel-inner>
.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: auto;
}
img{
	width: 100%;
}
/*h2 {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
h2:after {
	display: inline-block;
	margin: 0 0 8px 5px;
	height: 2px;
	content: " ";
	text-shadow: none;
	background-color: #000;
	width: 40px;
}
h2:before {
	display: inline-block;
	margin: 0 5px 8px 0;
	height: 2px;
	content: " ";
	text-shadow: none;
	background-color: #000;
	width: 40px;
}*/
#servicos{
	margin: 20px;
	padding: 60px;
}
.border-4{
	text-align: center;
	width: 250px;
	height: 250px;
	display: inline-block;
	padding: 40px;
	margin: 20px;
	background: #699574;
	color: #fff;
	border-radius: 4px;
}
.titulo-icones h3{
	margin: 10px 0px;
	padding: 5px 0px;
}
.centralizado{
	margin: 0 auto;
	float: none;
}

#orcamento h3{
	padding:10px 0px;
	margin: 0px;
}
p{
	margin: 0px;
	padding: 0px;
}
form{
	margin: 30px 0px;
}
input.form-control::placeholder{
	color: green;
}
input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: green;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
	color: green;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
	color: green;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
	color: green;
}
form label {
	text-transform: uppercase;
	color:#699574 
}
form input[type=text], input[type=email]{
	border: 1px solid #699574;
}
textarea.form-control{
	border: 1px solid #699574;
}
/***************************************************************************************************************************/
/*********************                           ICONES DO SITE                               ******************************/
/***************************************************************************************************************************/


.icones{
	background: url('../images/icones.png') no-repeat;
}
.bloco-notas{
	width: 144px;
	height: 142px;
	background-position: 0px 0px;
	float: left; 
}
.cruz{
	width: 144px;
	height: 142px;
	background-position: -160px 0px;
	float: left; 
}
.saudacao{
	width: 144px;
	height: 142px;
	background-position: -311px 0px;
	float: left; 
}
.exame-adicional{
	width: 144px;
	height: 142px;
	background-position: -0px -166px;
	float: left; 
}
.exame-laboratorio{
	width: 144px;
	height: 142px;
	background-position: -160px -166px;
	float: left; 
}
.exame-raio-x{
	width: 144px;
	height: 142px;
	background-position: -311px -166px;
	float: left; 
}
/*.logo-principal{
	width:221px ;
	height:139px ;
	background-position: -20px -314px;
	float: left;
	text-indent: -3333px;
}*/
/*.logo-rodape{
	width: 218px;
	height: 139px;
	background-position: -247px -314px;
}*/
.logo-pequeno{
	width: 140px;
	height: 93px;
	background-position: -31px -450px; 
}
/*footer*/

.rodape{
	background-color: #000;
	padding: 40px 0px;
}
.rodape h4{
	text-transform: uppercase;
}

.border-rigth{
	border-right: 3px solid #fff;
}
.endereco{
	text-align: left;
	color: #fff;
}
.endereco{
	padding: 20px 20px;
	margin: 0px 0px;
}
.endereco p{
	padding: 0px 5px;
	margin: 0px;
}
.endereco p span{
	text-transform: uppercase;
	font-weight: bold;
}
.endereco h4{
	padding: 10px 5px;
	margin: 0px 10px;
}
.endereco ul {
	list-style: none;
	margin: 0px;
	padding: 0px 5px;
}
.endereco ul li{
	padding: 10px;
	margin: 0px;
	text-transform: uppercase;
}
.endereco ul li a:link, a:visited{
	font-weight: bold;
	color: #fff;
}
.endereco ul li a:hover{
	color: #00a2d9
}
#diminuir{
	top: 10%;
    position: absolute;
    z-index: 999;
    width: 100%;	
}
.endereco img{
	padding: 25px;
}
.conteudo h3{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 700;
}
section.contenudo h3{
	text-transform: uppercase;
}
section.conteudo h3{
	border-left: 6px solid #00a2d9;
	padding: 10px 25px;
	border-bottom: 3px solid #000;
	margin: 40px 0px;
	font-family: 'Roboto', sans-serif;
}
section.conteudo h4{
	border-left: 6px solid #00a2d9;
	padding: 10px 25px;
	border-bottom: 3px solid #000;
}
.teste>ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.endereco h4{
	border-left: 6px solid #00a2d9;
	padding: 10px 25px;
	border-bottom: 3px solid #fff;
	margin-bottom: 20px;
}
.rsociais-rodape ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.rsociais-rodape ul li{
	display: inline;
}
.rsociais-rodape ul li a:link, a:visited{
	color: #fff;
}
.rsociais-rodape ul li a:hover{
	color: #00a2d9;
}
.assinatura{
	background-color: #282828;
	color: #fff;
	padding: 10px 0px;
}
.copy{
	text-align: center;
}
.ass{
	float: right;
	display: inline-block;
}
.ass span{
	text-transform: uppercase;
	font-weight: bold;
}
.copy p span{
	text-transform: uppercase;
	font-weight: bold;
}

figcaption {
    position: absolute;
    z-index: 99;
    margin-top: -70px;
}
figure figcaption h2 span{
	color: #fff;
	text-transform: uppercase;
	padding: 10px 8px;
	margin: 10px 3px;
	background-color: #00a2d9;
}
section{
	margin: 10px 0px;
}
span{
	padding: 0px 5px;
	margin: 0px 10px;
}
p{
	margin: 10px 0px 0px 10px;
	padding: 0px 10px;
}
h3{
	margin: 10px 0px 0px 10px;
	padding: 0px 10px;
	font-family: 'Roboto', sans-serif;
}
.ass a:link{
	color: #fff;
	text-decoration: none;
}
.ass a:hover{
	color: green;
}
#map{
	border: 5px solid #699574;
	border-radius: 6px;
	width: 1140px;
	height: 350px;
	margin: 25px 0px;
}

.btn-facebook {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 100%;
    margin: 5px 0px;
    left: 0px;
} 
.btn-twitter {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 100%;
    margin: 5px 0px;
    left: 0px;
}
.btn-google {
	color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    margin: 5px 0px;
    width: 100%;
}
.separator{
	margin: 40px 0px;
}